$spinAnimation: spin 2s linear infinite;
$dropDownAnimation: dropDown 0.5s;
$fadeInAnimation: fadeIn 0.75s;
$comeFromLeftAnimation: fromLeft 0.5s;
$comeFromBottomAnimation: fromBottom 0.5s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.canRes-enter {
  opacity: 0;
}

.canRes-enter-active {
  opacity: 1;
  transition: 0.5s;
}

.canRes-exit {
  opacity: 1;
}

.canRes-exit-active {
  opacity: 0;
  transition: 0.5s;
}

.navUserName-enter {
  opacity: 0;
}

.navUserName-enter-active {
  opacity: 1;
  transition: 0.25s;
}

.navUserName-exit {
  opacity: 1;
}

.navUserName-exit-active {
  opacity: 0;
  transition: 0.25s;
}

.dropDownFilter-enter {
  height: 0;
}

.dropDownFilter-enter-active {
  height: 88px;
  transition: 0.25s;
}

.dropDownFilter-exit {
  height: 88px;
}

.dropDownFilter-exit-active {
  height: 0;
  transition: 0.25s;
}
