.birthday {
  min-height: 100vh;
  min-width: 1280px;
  background-color: $lightBlue;

  .editorExport {
    display: flex;
    justify-content: center;
    margin-top: 5px;

    button {
      max-width: 200px;
      width: 30%;
      margin: 0 10px;
      border: 0;
      background: $darkBlue;
      color: white;
      padding: 15px;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 600;
      font-family: $mainFont;
      cursor: pointer;
    }
  }
}
