.cardBrowser {
  min-height: 100vh;
  background-color: lighten($lightBlue, 22);

  .cardBrowserCategories {
    display: flex;
    width: 80%;
    padding: 100px 10% 15px 10%;
    background: linear-gradient(
      360deg,
      lighten($lightBlue, 22) 0%,
      lighten($lightBlue, 35) 100%
    );

    .categories {
      margin-right: auto;
      margin-bottom: 10px;

      button {
        background: 0;
        border: 0;
        margin: 0;
        margin-right: 15px;
        color: rgb(150, 150, 150);
        border-bottom: 1px solid transparent;
        padding-bottom: 5px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          border-bottom: 1px solid $darkBlue;
        }

        &:focus {
          outline: 0;
          border-bottom: 1px solid $darkBlue;
        }
      }

      .cardBrowserActiveBtn {
        color: rgb(45, 45, 45);
        border-bottom: 1px solid $darkBlue;
        transform: scale(1.25);
      }
    }

    .sorters {
      background: 0;
      border: 0;
      color: rgb(45, 45, 45);
      position: relative;
      width: 125px;

      .currentSorter {
        display: flex;
        width: 125px;
        margin-top: 2px;
        border: 0;
        background: 0;
        padding-bottom: 5px;
        cursor: pointer;
        transition: 0.2s;

        .currentSorterIcon {
          width: 16px;
          height: 16px;
          padding: 0;
          fill: rgb(45, 45, 45);
          margin-right: 17px;
        }

        &:focus {
          outline: none;
          background-color: rgb(250, 250, 250);
        }
      }

      .currentSorterButtons {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 24px;
        width: 125px;
        right: 0;
        background-color: white;
        overflow: hidden;
        button {
          background: 0;
          border: 0;
          padding: 15px;
          color: rgb(45, 45, 45);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          cursor: pointer;
          transition: 0.1s;

          &:hover {
            background-color: lighten($lightBlue, 15);
          }
        }
      }
    }
  }
}
.cardContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 50px;

  @include breakpoint(350px) {
    width: 95%;
  }

  .cardContainerCol {
    padding-right: 10px;
    padding-left: 10px;

    div {
      margin-bottom: 15px;
    }
  }

  a {
    text-decoration: none;
  }

  .cardBrowserCard {
    color: rgb(45, 45, 45);
    background-color: rgba(0, 0, 0, 0.05);

    .thumbnail {
      width: 100%;
      object-fit: contain;
      display: block;
      margin: auto;
    }

    .cardBrowserCardActions {
      display: flex;
      align-items: center;
      padding-top: 5px;

      h1 {
        font-size: 13px;
        margin: 0 10px 0 0;
      }

      button {
        width: 16px;
        height: 16px;
        padding: 0;
        background: 0;
        border: 0;
        margin-right: 5px;
        margin-left: 10px;

        .btnIcon {
          fill: rgb(45, 45, 45);
          padding: 0;
          height: 16px;
          width: 16px;
        }
      }

      p {
        margin: auto 0 0 0;
        font-weight: 600;
        font-size: 10px;
      }

      .cardRes {
        margin-right: auto;
      }
    }
  }
}
