@mixin inputOptions {
  input,
  select {
    width: 100%;
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    background: none;

    &:focus {
      outline: none;
      border-bottom: 1px solid $lightBlue;
    }
  }
}

.canvasOptionsContainer {
  position: relative;

  @include inputOptions;

  .canvasOptionsClose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    border: 0;
    background: 0;
    padding: 0;
  }
}

.canvasElSP {
  display: flex;
}

.canvasElSize,
.canvasElPos {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
    margin-right: 5px;
  }

  input {
    margin-right: 5px;
  }

  .canvasElWidth,
  .canvasElHeight,
  .canvasElX,
  .canvasElY {
    display: flex;
    align-items: center;
    height: 50px;
  }
}

.canvasText {
  padding: 25px;

  .canvasMsg {
    margin-bottom: 15px;
  }

  .textFont {
    display: flex;
    margin-top: 25px;

    .fontSizeContainer {
      width: 15%;
      position: relative;

      select {
        position: absolute;
        width: 100%;
        margin: 0;
        z-index: 4;
      }
      input {
        position: absolute;
        margin: 0;
        margin-top: 2px;
        z-index: 5;
        background: rgb(240, 240, 240);
        width: 60%;
      }
    }

    .textFontFam {
      width: 80%;
      margin-left: 10%;
    }
  }

  .textColor {
    margin-top: 25px;
    height: 35px;
    border: 0;
    &:focus {
      border: 0;
    }
  }

  .textAlignment {
    margin-top: 25px;
    width: 50%;
    display: flex;

    button {
      width: 50px;
      height: 50px;
      padding: 10px;
      margin-right: 10px;
      border: 1px solid $lightBlue;
      border-radius: 3px;
      background: 0;
    }
  }
}

.canvasRect {
  padding: 25px;

  .rectBorderRadius,
  .rectBorderWidth {
    display: flex;
    margin-top: 25px;

    p {
      margin: 0;
      width: 105px;
    }

    input {
      width: 25px;
      margin-left: 15px;
    }
  }

  .rectColors {
    display: flex;
    flex-direction: column;

    .rectFillColor,
    .rectBorderColor {
      display: flex;

      p {
        margin: 0;
        margin-left: 15px;
      }

      input {
        border: 0;
        width: 50px;
      }
    }
  }
  .rectFillColor {
    margin-top: 25px;
  }
  .rectBorderColor {
    margin-top: 15px;
  }
}

.canvasCircle {
  padding: 25px;

  .circleColors {
    display: flex;
    flex-direction: column;

    .circleFillColor,
    .circleBorderColor {
      display: flex;

      p {
        margin: 0;
        margin-left: 15px;
      }

      input {
        border: 0;
        width: 50px;
      }
    }
  }
  .circleBorderWidth {
    display: flex;
    margin-top: 25px;

    p {
      margin: 0;
      width: 105px;
    }

    input {
      width: 25px;
      margin-left: 15px;
    }
  }
  .circleFillColor {
    margin-top: 25px;
  }
  .circleBorderColor {
    margin-top: 15px;
  }
}
