.elementPreview {
  display: flex;
  padding: 10px 25px;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: lighten($lightBlue, 30);
  }

  img {
    width: 16px;
  }

  h1 {
    margin: 0;
    margin-left: 15px;
    font-weight: 400;
    font-size: 1.5rem;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  input {
    margin: 0;
    padding: 0;
    height: 30px;
    margin-left: 15px;
    font-family: $mainFont;
    font-size: 1.5rem;
    font-weight: 400;
    width: 70%;
    border: 0;
    background: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:disabled {
      color: black;
    }
  }

  .elementBtns {
    display: flex;
    align-items: center;
    z-index: 5;
  }

  button {
    border: 0;
    background: 0;
    justify-self: flex-end;
  }
}
