.canvasOptionsContainer {
  position: relative;
  height: 100%;

  @include inputOptions;

  .canvasOptionsClose {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    border: 0;
    background: 0;
    padding: 0;
    cursor: pointer;
  }

  .canvasDelete {
    position: absolute;
    width: 50%;
    height: 50px;
    bottom: 15px;
    border-radius: 10px;
    left: 25%;
    background: 0;
    border: 2px solid $errorColor;

    .canvasDeleteIcon {
      width: 24px;
      height: 24px;
      margin-top: 3px;
      fill: darken($errorColor, 20);
    }
  }
}

.canvasElSP {
  display: flex;
}

.canvasElSize,
.canvasElPos {
  display: flex;
  flex-direction: column;
  width: 20%;

  p {
    margin: 0;
    margin-right: 14px;
  }

  input {
    margin-right: 5px;
  }

  .canvasElWidth,
  .canvasElHeight,
  .canvasElX,
  .canvasElY {
    display: flex;
    align-items: center;
    height: 50px;
  }
}

.canvasElRot {
  display: flex;
  height: 50px;
  align-items: center;
  width: 20%;
  position: relative;
  img {
    width: 16px;
    height: 16px;
    margin-right: 14px;
  }
}

.canvasElPos,
.canvasElRot {
  margin-left: 10%;
}

.canvasText {
  padding: 25px;

  .canvasMsg {
    margin: 15px 0;
  }

  .textFont {
    display: flex;
    margin-top: 25px;
    img {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }

    .fontSizeContainer {
      width: 20%;
      position: relative;

      select {
        position: absolute;
        right: 0;
        width: 60%;
        margin: 0;
        z-index: 4;
      }
      input {
        position: absolute;
        margin: 0;
        margin-top: 2px;
        z-index: 5;
        background: rgb(240, 240, 240);
        width: 40%;
      }
    }

    .fontWeightContainer {
      width: 20%;
      margin-left: 10%;
      display: flex;
    }

    .textFontFam {
      width: 40%;
      margin-left: 10%;
    }
  }

  .fontColorContainer {
    margin-top: 25px;
    display: flex;

    .textColor {
      border: 0;
      padding: 0;
      width: 50px;
      &:focus {
        border: 0;
      }
    }

    p {
      margin: 0;
      margin-left: 15px;
    }
  }

  .textAlignment {
    margin-top: 25px;
    width: 50%;
    display: flex;

    button {
      width: 32px;
      height: 32px;
      padding: 8px;
      margin-right: 5px;
      border: 1px solid $lightBlue;
      border-radius: 3px;
      background: 0;
    }
  }
}

.canvasRect {
  padding: 25px;

  .rectBorderRadius,
  .rectBorderWidth {
    display: flex;
    margin-top: 25px;

    p {
      margin: 0;
      width: 105px;
    }

    input {
      width: 25px;
      margin-left: 15px;
    }
  }

  .rectColors {
    display: flex;
    flex-direction: column;

    .rectFillColor,
    .rectBorderColor {
      display: flex;

      p {
        margin: 0;
        margin-left: 15px;
      }

      input {
        border: 0;
        width: 50px;
      }

      .rectFillCheckbox {
        height: 12px;
        width: 12px;
        margin-top: 4px;
        margin-left: 15px;
      }
    }
  }
  .rectFillColor {
    margin-top: 25px;
  }
  .rectBorderColor {
    margin-top: 15px;
  }
}

.canvasCircle {
  padding: 25px;

  .circleColors {
    display: flex;
    flex-direction: column;

    .circleFillColor,
    .circleBorderColor {
      display: flex;

      p {
        margin: 0;
        margin-left: 15px;
      }

      input {
        border: 0;
        width: 50px;
      }

      .circleFillCheckbox {
        height: 12px;
        width: 12px;
        margin-top: 4px;
        margin-left: 15px;
      }
    }
  }
  .circleBorderWidth {
    display: flex;
    margin-top: 25px;

    p {
      margin: 0;
      width: 105px;
    }

    input {
      width: 25px;
      margin-left: 15px;
    }
  }
  .circleFillColor {
    margin-top: 25px;
  }
  .circleBorderColor {
    margin-top: 15px;
  }
}
