.editor {
  width: 100%;
  height: 85vh;
  min-height: 500px;
  margin: auto;
  background: none;
  position: relative;
  display: flex;
  padding-top: 78px;

  .editorMenu {
    @include flexColumn;
    justify-content: flex-start;
    width: 50px;
    height: 100%;
    background: rgb(245, 245, 245);

    button {
      width: 50px;
      height: 50px;
      padding: 10px;
      margin: 0;
      border: 0;
      background: rgb(245, 245, 245);

      img {
        width: 24px;
      }

      &:focus {
        outline: none;
      }
    }

    .activeButton {
      border: 2px solid black;
    }
  }

  .editorCanvas {
    z-index: 5;
  }

  .editorView {
    min-width: 700px;
    width: 80%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editorOptions {
    min-width: 375px;
    width: 20%;
    height: 100%;
    background-color: rgb(245, 245, 245);

    .canvasOptions {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}
