.ideas {
  width: 100%;
  margin-top: 125px;
  background: linear-gradient(180deg, $lightBlue 0%, $darkBlue 100%);
  color: white;

  .ideasCards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(600px) {
      width: 100%;
    }
  }

  .ideasTitle {
    text-align: center;
    font-size: 3rem;
    padding: 50px;
  }

  .idea {
    width: 30%;
    min-width: 530px;
    position: relative;
    margin: 25px auto;

    @include breakpoint(600px) {
      min-width: 0;
      width: 100%;
    }

    .ideaBtn {
      position: absolute;
      bottom: 25px;
      width: 200px;
      left: 50%;
      margin-left: -100px;
      border: 0;
      border-radius: 10px;
      background: white;
      color: $darkBlue;
      padding: 15px 40px;
      font-weight: 500;
      font-size: 2em;
    }

    img {
      width: 100%;
    }
  }
}
