.mainPage {
  display: flex;
  color: rgb(45, 45, 45);
  height: 750px;
  overflow: hidden;
  background-color: lighten($lightBlue, 25);

  @include breakpoint(1280px) {
    height: auto;
  }

  a {
    margin-top: 25px;
    align-self: flex-start;

    @include breakpoint(1280px) {
      align-self: center;
    }
  }

  .mainContent {
    padding-top: 125px;
    display: flex;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    @include breakpoint(1280px) {
      flex-direction: column;
    }
  }

  .mainText {
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 375px;
    width: 375px;
    text-align: start;
    margin-left: 5%;
    margin-right: 50px;

    @include breakpoint(1280px) {
      justify-content: center;
      text-align: center;
      width: 90%;
      min-width: 0;
      margin: auto;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 3rem;
    }
    h2 {
      margin: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  .mainImgContainer {
    max-height: 550px;
    position: relative;
    padding-bottom: 50px;

    .mainImg {
      position: absolute;
      max-height: 550px;
      object-fit: cover;
      z-index: 2;

      @include breakpoint(1280px) {
        position: unset;
        display: block;
        max-width: 95%;
        margin: auto;
      }
    }

    .mainBlob {
      position: absolute;
      top: -535px;
      left: 0;
      height: 1185px;
      fill: $lightBlue;
      z-index: 1;

      @include breakpoint(1280px) {
        display: none;
      }
    }
  }

  .mainBtn {
    padding: 10px 35px;
    color: white;
    border-radius: 5px;
    border: 0;
    background: $lightBlue;
    transition: 0.3s;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      background: darken($lightBlue, 10);
    }

    @include breakpoint(1280px) {
      margin-bottom: 25px;
    }
  }
}
