.mainPage {
  @include flexColumn;
  justify-content: flex-start;
  font-size: 5vmin;
  color: white;
  text-align: center;
  height: 100vh;
  position: relative;

  .mainBg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -5;
  }

  .mainBgFilter {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(84, 84, 84, 0.9) 100%
    );
    z-index: -4;
  }

  .mainBtn {
    border: 6px solid white;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    padding: 10px 35px;
    position: absolute;
    bottom: 10vh;

    color: white;
    background: none;
    border-radius: 50px;
    cursor: pointer;
  }

  h1 {
    margin-top: 100px;
    margin-bottom: 0;
  }
  h3 {
    margin-top: 25px;
  }
}
