.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  z-index: 999;
  display: flex;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 15px 0;

    li {
      margin: 0 15px 0 15px;
    }

    a,
    li {
      &:hover {
        color: darken($darkBlue, 25);
      }
    }
  }

  .logo {
    width: 32px;
    height: 32px;
    stroke: #38073b;
  }

  .navbarLogin {
    width: 100%;
    justify-content: flex-end;
    margin-right: 25px;
    li {
      cursor: pointer;
    }
  }
}
