.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  z-index: 999;
  display: flex;
  // justify-content: flex-end;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: 0 15px 0 15px;
    }

    a,
    li {
      &:hover {
        color: $darkBlue;
      }
    }
  }

  .navbarLogin {
    width: 100%;
    justify-content: flex-end;
    li {
      cursor: pointer;
    }
  }
}
