.steps {
  margin: auto;
  color: rgb(45, 45, 45);

  .stepsTitle {
    text-align: center;
    width: 90%;
    margin: 50px auto;
    font-size: 3rem;
  }

  .stepsIntro {
    display: flex;
    width: 90%;
    margin: 75px auto;
    flex-wrap: wrap;
    max-width: 1920px;

    @include breakpoint(1280px) {
      margin: 50px auto;
    }

    @include breakpoint(600px) {
      width: 100%;
    }

    .stepsIntroText {
      margin-left: 50px;
      font-weight: 500;

      h2 {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 25px;
        max-width: 450px;

        @include breakpoint(1280px) {
          margin: 0 auto 25px auto;
        }
      }

      @include breakpoint(1280px) {
        width: 100%;
        text-align: center;
        margin: auto;
      }

      @include breakpoint(600px) {
        width: 90%;
      }
    }
  }

  a {
    text-decoration: none;
    display: contents;
    margin: auto;
  }

  .stepsImg {
    width: 55%;
    max-height: 450px;
    object-fit: contain;

    @include breakpoint(1280px) {
      width: 100%;
      max-height: none;
      margin-bottom: 25px;
    }
  }

  .stepsCreated {
    width: 100%;
    background: rgb(45, 45, 45);
    color: white;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 5px 0;

    @include breakpoint(600px) {
      font-size: 1.5rem;
    }
    @include breakpoint(450px) {
      font-size: 1rem;
    }
  }

  .stepsHelp {
    width: 90%;
    margin: auto;
    margin-top: -25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1920px;
  }

  .stepsBtn {
    display: block;
    width: 200px;
    padding: 10px;
    border: 0;
    background: $lightBlue;
    color: white;
    font-size: 18px;
    border-radius: 5px;

    transition: 0.3s;

    &:hover {
      background: darken($lightBlue, 10);
    }

    @include breakpoint(1280px) {
      margin: auto;
    }
  }

  .stepsBtn2 {
    margin: 25px auto 0 auto;
  }

  .stepsHelpStep {
    width: 400px;
    margin: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);

    .helpText {
      font-weight: 600;
      font-size: 2rem;
      text-align: center;
      max-width: 300px;
      margin: 0 auto;
      margin-top: -25px;
    }

    .numberBg {
      text-align: center;
      font-size: 10rem;
      color: rgba(0, 0, 0, 0.07);
      margin: 0;
      margin-top: -15px;
    }

    p {
      margin-bottom: 0;
      padding-bottom: 25px;
    }
  }
}
