@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanalei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dropDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fromLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.canRes-enter {
  opacity: 0;
}

.canRes-enter-active {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.canRes-exit {
  opacity: 1;
}

.canRes-exit-active {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropDownFilter-enter {
  height: 0;
}

.dropDownFilter-enter-active {
  height: 88px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.dropDownFilter-exit {
  height: 88px;
}

.dropDownFilter-exit-active {
  height: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.error {
  background: #ffa9a9;
  border: 1px solid #ff5d5d;
  border-left: 5px solid #ff5d5d;
  padding: 10px 15px;
  border-radius: 5px;
  color: #dc0000;
}

.information {
  background: #54c1de;
  border: 1px solid #18748a;
  border-left: 5px solid #18748a;
  padding: 10px 15px;
  border-radius: 5px;
  color: #092b33;
}

.warning {
  background: #ebfd87;
  border: 1px solid #afce03;
  border-left: 5px solid #afce03;
  padding: 10px 15px;
  border-radius: 5px;
  color: #859c03;
}

.loading {
  margin: 10px auto;
  border: 4px solid #c8c8c8;
  border-top: 4px solid #54c1de;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loadingBig {
  margin: 10px auto;
  border: 16px solid #c8c8c8;
  border-top: 16px solid #54c1de;
  border-radius: 50%;
  width: 128px;
  height: 128px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  color: #2d2d2d;
  font-weight: 500;
  font-size: 1.5em;
  z-index: 999;
  overflow: hidden;
}

.navbar .logoAlone {
  display: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 55px;
  stroke: #38073b;
}

@media only screen and (max-width: 700px) {
  .navbar .logoAlone {
    display: block;
  }
}

.navbar .navbarBtn {
  display: none;
}

.navbar .navbarContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 700px) {
  .navbar .navbarContainer {
    display: none;
  }
}

.navbar .navbarContainer .navbarLogin {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 25px;
}

.navbar .navbarContainer .navbarLogin li {
  cursor: pointer;
}

.navbar .navbarContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}

.navbar .navbarContainer ul .navbarCreate {
  margin-top: -4px;
}

.navbar .navbarContainer ul li {
  margin: 0 15px 0 15px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.navbar .navbarContainer ul li button {
  border: 0;
  background: #54c1de;
  border-radius: 5px;
  width: 100px;
  height: 29px;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar .navbarContainer ul li button:hover {
  background: #29b2d6;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.navbar ul li:hover {
  color: #1c86a0;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar .logo {
  width: 32px;
  height: 32px;
  stroke: #38073b;
}

.navbar .navbarBurger {
  display: none;
  fill: rb(45, 45, 45);
  width: 36px;
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  z-index: 5;
}

@media only screen and (max-width: 700px) {
  .navbar .navbarBurger {
    display: block;
  }
}

.navbar .navbarContainer2 {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .navbar .navbarContainer2 {
    display: block;
  }
}

.navbar .navbarContainer2 .navbarContent {
  min-width: 250px;
  width: 50%;
  margin-left: auto;
  height: 100vh;
  background: white;
  display: block;
}

@media only screen and (max-width: 350px) {
  .navbar .navbarContainer2 .navbarContent {
    width: 100%;
    margin-left: 0;
  }
}

.navbar .navbarContainer2 .navbarBg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
  -webkit-animation: fadeIn 0.75s;
          animation: fadeIn 0.75s;
}

.navbar .navbarContainer2 .navbarLinks {
  margin-top: 0;
  padding-top: 50px;
  min-width: 250px;
}

.navbar .navbarContainer2 .navbarLogin {
  margin-top: 0;
  padding-top: 15px;
  min-width: 250px;
}

.navbar .navbarContainer2 .navbarLogin li {
  cursor: pointer;
}

.navbar .navbarContainer2 .logo {
  display: none;
}

.navbar .navbarContainer2 a {
  display: contents;
}

.navbar .navbarContainer2 .navbarBtn {
  display: block;
  width: 175px;
  padding: 10px;
  border: 0;
  background: #54c1de;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  margin: 15px auto 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar .navbarContainer2 .navbarBtn:hover {
  background: #29b2d6;
}

.navbar .navbarContainer2 ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.navbar .navbarContainer2 ul li {
  padding: 5px;
  margin: auto;
}

.page-from-left-enter {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.page-from-left-enter-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-from-left-exit {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.page-from-left-exit-active {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2d2d2d;
  height: 750px;
  overflow: hidden;
  background-color: #bfe8f3;
}

@media only screen and (max-width: 1280px) {
  .mainPage {
    height: auto;
  }
}

.mainPage a {
  margin-top: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 1280px) {
  .mainPage a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.mainPage .mainContent {
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .mainPage .mainContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .mainPage .mainContent {
    padding-top: 75px;
  }
}

.mainPage .mainText {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 375px;
  width: 375px;
  text-align: start;
  margin-left: 5%;
  margin-right: 50px;
}

@media only screen and (max-width: 1280px) {
  .mainPage .mainText {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 90%;
    min-width: 0;
    margin: auto;
  }
}

.mainPage .mainText h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 3rem;
}

.mainPage .mainText h2 {
  margin: 0;
}

.mainPage .mainText p {
  margin-bottom: 0;
}

.mainPage .mainImgContainer {
  max-height: 550px;
  position: relative;
  padding-bottom: 50px;
}

.mainPage .mainImgContainer .mainImg {
  position: absolute;
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}

@media only screen and (max-width: 1280px) {
  .mainPage .mainImgContainer .mainImg {
    position: unset;
    display: block;
    max-width: 95%;
    margin: auto;
  }
}

.mainPage .mainImgContainer .mainBlob {
  position: absolute;
  top: -535px;
  left: 0;
  height: 1185px;
  fill: #54c1de;
  z-index: 1;
}

@media only screen and (max-width: 1280px) {
  .mainPage .mainImgContainer .mainBlob {
    display: none;
  }
}

.mainPage .mainBtn {
  padding: 10px 35px;
  color: white;
  border-radius: 5px;
  border: 0;
  background: #54c1de;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 20px;
}

.mainPage .mainBtn:hover {
  background: #29b2d6;
}

@media only screen and (max-width: 1280px) {
  .mainPage .mainBtn {
    margin-bottom: 25px;
  }
}

.choice {
  padding: 0;
  position: relative;
  color: #2d2d2d;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.choice .choiceBlob {
  position: absolute;
  fill: #eaf7fb;
  z-index: -1;
  top: -125px;
  left: 100px;
  height: 115%;
}

@media only screen and (max-width: 1280px) {
  .choice .choiceBlob {
    display: none;
  }
}

.choice .choice1,
.choice .choice2 {
  min-height: 550px;
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .choice .choice1,
  .choice .choice2 {
    width: 100%;
  }
}

@media only screen and (max-width: 1280px) {
  .choice .choice1,
  .choice .choice2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.choice .choiceText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 25px;
  min-height: 380px;
}

@media only screen and (max-width: 1280px) {
  .choice .choiceText {
    width: 80%;
    min-height: 0;
  }
}

.choice .choiceText h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.choice .choiceText h2 {
  margin: 0;
  font-size: 1rem;
}

.choice .choiceBtn {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 0;
  background: #54c1de;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.choice .choiceBtn:hover {
  background: #29b2d6;
}

@media only screen and (max-width: 1280px) {
  .choice .choiceBtn {
    margin-bottom: 25px;
  }
}

.choice .choice1 {
  padding-top: 100px;
}

@media only screen and (max-width: 1280px) {
  .choice .choice1 {
    padding-top: 25px;
  }
}

.choice .choice1 .choiceText {
  float: right;
}

@media only screen and (max-width: 1280px) {
  .choice .choice1 .choiceText {
    float: none;
    margin: auto;
  }
}

.choice .choice1 .choiceImg {
  float: left;
}

@media only screen and (max-width: 1280px) {
  .choice .choice1 .choiceImg {
    float: none;
  }
}

.choice .choice2 {
  margin-top: 125px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 1280px) {
  .choice .choice2 {
    margin-top: 75px;
  }
}

.choice .choice2 .choiceText {
  float: left;
}

@media only screen and (max-width: 1280px) {
  .choice .choice2 .choiceText {
    float: none;
    margin: auto;
  }
}

.choice .choice2 .choiceImg {
  float: right;
}

@media only screen and (max-width: 1280px) {
  .choice .choice2 .choiceImg {
    float: none;
  }
}

.choice .choiceImg {
  max-height: 550px;
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1280px) {
  .choice .choiceImg {
    width: 100%;
  }
}

.choice a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media only screen and (max-width: 1280px) {
  .choice a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.cards {
  width: 90%;
  margin: auto;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card {
  padding: 25px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 25%;
  min-width: 480px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .card h1 {
    margin-top: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    min-width: 0;
    max-width: none;
    width: 100%;
  }
}

.steps {
  margin: auto;
  color: #2d2d2d;
}

.steps .stepsTitle {
  text-align: center;
  width: 90%;
  margin: 50px auto;
  font-size: 3rem;
}

.steps .stepsIntro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 75px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1920px;
}

@media only screen and (max-width: 1280px) {
  .steps .stepsIntro {
    margin: 50px auto;
  }
}

@media only screen and (max-width: 600px) {
  .steps .stepsIntro {
    width: 100%;
  }
}

.steps .stepsIntro .stepsIntroText {
  margin-left: 50px;
  font-weight: 500;
}

.steps .stepsIntro .stepsIntroText h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.steps .stepsIntro .stepsIntroText p {
  margin-bottom: 25px;
  max-width: 450px;
}

@media only screen and (max-width: 1280px) {
  .steps .stepsIntro .stepsIntroText p {
    margin: 0 auto 25px auto;
  }
}

@media only screen and (max-width: 1280px) {
  .steps .stepsIntro .stepsIntroText {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .steps .stepsIntro .stepsIntroText {
    width: 90%;
  }
}

.steps a {
  text-decoration: none;
  display: contents;
  margin: auto;
}

.steps .stepsImg {
  width: 55%;
  max-height: 450px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 1280px) {
  .steps .stepsImg {
    width: 100%;
    max-height: none;
    margin-bottom: 25px;
  }
}

.steps .stepsCreated {
  width: 100%;
  background: #2d2d2d;
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 5px 0;
}

@media only screen and (max-width: 600px) {
  .steps .stepsCreated {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .steps .stepsCreated {
    font-size: 1rem;
  }
}

.steps .stepsHelp {
  width: 90%;
  margin: auto;
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
}

.steps .stepsBtn {
  display: block;
  width: 200px;
  padding: 10px;
  border: 0;
  background: #54c1de;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.steps .stepsBtn:hover {
  background: #29b2d6;
}

@media only screen and (max-width: 1280px) {
  .steps .stepsBtn {
    margin: auto;
  }
}

.steps .stepsBtn2 {
  margin: 25px auto 0 auto;
}

.steps .stepsHelpStep {
  width: 400px;
  margin: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.steps .stepsHelpStep .helpText {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  margin-top: -25px;
}

.steps .stepsHelpStep .numberBg {
  text-align: center;
  font-size: 10rem;
  color: rgba(0, 0, 0, 0.07);
  margin: 0;
  margin-top: -15px;
}

.steps .stepsHelpStep p {
  margin-bottom: 0;
  padding-bottom: 25px;
}

.ideas {
  width: 100%;
  margin-top: 125px;
  background: radial-gradient(circle, #aae0ef 0%, #54c1de 100%);
  color: #2d2d2d;
}

.ideas .ideasCards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .ideas .ideasCards {
    width: 100%;
  }
}

.ideas .ideasTitle {
  text-align: center;
  font-size: 3rem;
  padding: 50px;
  margin: 0;
}

.ideas .idea {
  width: 30%;
  min-width: 530px;
  position: relative;
  margin: 15px auto;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .ideas .idea {
    min-width: 0;
    width: 100%;
  }
}

.ideas .idea:hover .ideaBg {
  opacity: 1;
}

.ideas .idea:hover .ideaBtn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.ideas .idea .ideaBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ideas .idea .ideaBtn {
  position: absolute;
  width: 100%;
  height: 55px;
  bottom: 0;
  left: 0;
  border: 0;
  background: #f0f0f0;
  color: #2d2d2d;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.ideas .idea .ideaBtn:hover {
  background: white;
  font-size: 24px;
}

.ideas .idea img {
  width: 100%;
}

.editor {
  width: 100%;
  height: calc(100vh - 60px);
  min-height: 500px;
  margin: auto;
  background: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.editor .editorMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 50px;
  height: 100%;
  background: whitesmoke;
}

.editor .editorMenu button {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
  border: 0;
  background: whitesmoke;
}

.editor .editorMenu button img {
  width: 24px;
}

.editor .editorMenu button:focus {
  outline: none;
}

.editor .editorMenu .activeButton {
  border: 2px solid black;
}

.editor .editorCanvas {
  z-index: 5;
}

.editor .editorView {
  min-width: 700px;
  width: 80%;
  height: 100%;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editor .editorOptions {
  min-width: 375px;
  width: 20%;
  height: 100%;
  background-color: whitesmoke;
}

.editor .editorOptions .canvasOptions {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.creator {
  min-height: 100vh;
  min-width: 1280px;
  background-color: #54c1de;
}

.creator .editorExport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  height: 40px;
}

.creator .editorExport button {
  max-width: 150px;
  width: 30%;
  margin: 0 10px;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.creator .editorExport button:hover {
  background: rgba(0, 0, 0, 0.4);
}

.creator .logoIcon {
  text-decoration: none;
  position: absolute;
  left: 55px;
  top: 15px;
}

.creator .logoIcon .logo {
  width: 32px;
  height: 32px;
  stroke: #38073b;
}

.creator .creatorLogin {
  position: absolute;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  right: 0;
  padding: 0;
  margin: 0;
  color: white;
}

.creator .creatorLogin li {
  margin-right: 20px;
}

.creator .creatorLogin li:hover {
  color: #092b33;
  cursor: pointer;
}

.canvasOptionsContainer {
  position: relative;
  height: 100%;
}

.canvasOptionsContainer input,
.canvasOptionsContainer select {
  width: 100%;
  padding: 0;
  padding-bottom: 3px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.canvasOptionsContainer input:focus,
.canvasOptionsContainer select:focus {
  outline: none;
  border-bottom: 1px solid #54c1de;
}

.canvasOptionsContainer .canvasOptionsClose {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.canvasOptionsContainer .canvasDelete {
  position: absolute;
  width: 50%;
  height: 50px;
  bottom: 15px;
  border-radius: 10px;
  left: 25%;
  background: 0;
  border: 2px solid #ffa9a9;
}

.canvasOptionsContainer .canvasDelete .canvasDeleteIcon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  fill: #ff4343;
}

.canvasElSP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasElSize,
.canvasElPos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
}

.canvasElSize p,
.canvasElPos p {
  margin: 0;
  margin-right: 14px;
}

.canvasElSize input,
.canvasElPos input {
  margin-right: 5px;
}

.canvasElSize .canvasElWidth,
.canvasElSize .canvasElHeight,
.canvasElSize .canvasElX,
.canvasElSize .canvasElY,
.canvasElPos .canvasElWidth,
.canvasElPos .canvasElHeight,
.canvasElPos .canvasElX,
.canvasElPos .canvasElY {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.canvasElRot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  position: relative;
}

.canvasElRot img {
  width: 16px;
  height: 16px;
  margin-right: 14px;
}

.canvasElPos,
.canvasElRot {
  margin-left: 10%;
}

.canvasText {
  padding: 25px;
}

.canvasText .canvasMsg {
  margin: 15px 0;
}

.canvasText .textFont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.canvasText .textFont img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.canvasText .textFont .fontSizeContainer {
  width: 20%;
  position: relative;
}

.canvasText .textFont .fontSizeContainer select {
  position: absolute;
  right: 0;
  width: 60%;
  margin: 0;
  z-index: 4;
}

.canvasText .textFont .fontSizeContainer input {
  position: absolute;
  margin: 0;
  margin-top: 2px;
  z-index: 5;
  background: #f0f0f0;
  width: 40%;
}

.canvasText .textFont .fontWeightContainer {
  width: 20%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasText .textFont .textFontFam {
  width: 40%;
  margin-left: 10%;
}

.canvasText .textFont .textFontFam option {
  font-size: 16px;
}

.canvasText .fontColorContainer {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasText .fontColorContainer .textColor {
  border: 0;
  padding: 0;
  width: 50px;
}

.canvasText .fontColorContainer .textColor:focus {
  border: 0;
}

.canvasText .fontColorContainer p {
  margin: 0;
  margin-left: 15px;
}

.canvasText .textAlignment {
  margin-top: 25px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasText .textAlignment button {
  width: 32px;
  height: 32px;
  padding: 8px;
  margin-right: 5px;
  border: 1px solid #54c1de;
  border-radius: 3px;
  background: 0;
}

.canvasRect {
  padding: 25px;
}

.canvasRect .rectBorderRadius,
.canvasRect .rectBorderWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.canvasRect .rectBorderRadius p,
.canvasRect .rectBorderWidth p {
  margin: 0;
  width: 105px;
}

.canvasRect .rectBorderRadius input,
.canvasRect .rectBorderWidth input {
  width: 25px;
  margin-left: 15px;
}

.canvasRect .rectColors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvasRect .rectColors .rectFillColor,
.canvasRect .rectColors .rectBorderColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasRect .rectColors .rectFillColor p,
.canvasRect .rectColors .rectBorderColor p {
  margin: 0;
  margin-left: 15px;
}

.canvasRect .rectColors .rectFillColor input,
.canvasRect .rectColors .rectBorderColor input {
  border: 0;
  width: 50px;
}

.canvasRect .rectColors .rectFillColor .rectFillCheckbox,
.canvasRect .rectColors .rectBorderColor .rectFillCheckbox {
  height: 12px;
  width: 12px;
  margin-top: 4px;
  margin-left: 15px;
}

.canvasRect .rectFillColor {
  margin-top: 25px;
}

.canvasRect .rectBorderColor {
  margin-top: 15px;
}

.canvasCircle {
  padding: 25px;
}

.canvasCircle .circleColors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvasCircle .circleColors .circleFillColor,
.canvasCircle .circleColors .circleBorderColor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvasCircle .circleColors .circleFillColor p,
.canvasCircle .circleColors .circleBorderColor p {
  margin: 0;
  margin-left: 15px;
}

.canvasCircle .circleColors .circleFillColor input,
.canvasCircle .circleColors .circleBorderColor input {
  border: 0;
  width: 50px;
}

.canvasCircle .circleColors .circleFillColor .circleFillCheckbox,
.canvasCircle .circleColors .circleBorderColor .circleFillCheckbox {
  height: 12px;
  width: 12px;
  margin-top: 4px;
  margin-left: 15px;
}

.canvasCircle .circleBorderWidth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.canvasCircle .circleBorderWidth p {
  margin: 0;
  width: 105px;
}

.canvasCircle .circleBorderWidth input {
  width: 25px;
  margin-left: 15px;
}

.canvasCircle .circleFillColor {
  margin-top: 25px;
}

.canvasCircle .circleBorderColor {
  margin-top: 15px;
}

.elementPreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 25px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.elementPreview:hover {
  background-color: #d4f0f7;
}

.elementPreview img {
  width: 16px;
}

.elementPreview h1 {
  margin: 0;
  margin-left: 15px;
  font-weight: 400;
  font-size: 1.5rem;
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elementPreview input {
  margin: 0;
  padding: 0;
  height: 30px;
  margin-left: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 70%;
  border: 0;
  background: 0;
  cursor: pointer;
}

.elementPreview input:focus {
  outline: none;
}

.elementPreview input:disabled {
  color: black;
}

.elementPreview .elementBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  margin-top: 1px;
}

.elementPreview button {
  border: 0;
  background: 0;
  justify-self: flex-end;
}

.login,
.register {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.login .loginForm,
.login .registerForm,
.register .loginForm,
.register .registerForm {
  position: fixed;
  top: 10%;
  width: clamp(225px, 60%, 400px);
  left: 50%;
  padding: 25px;
  border-radius: 10px;
  background-color: white;
  margin-left: clamp(-225px, -30%, -138px);
  -webkit-animation: dropDown 0.5s;
          animation: dropDown 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .loginForm form,
.login .registerForm form,
.register .loginForm form,
.register .registerForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .loginForm .loginRecovery,
.login .registerForm .loginRecovery,
.register .loginForm .loginRecovery,
.register .registerForm .loginRecovery {
  text-align: end;
  font-size: 12px;
  margin: 5px;
  font-weight: 500;
}

.login .loginForm .loginRecovery:hover,
.login .registerForm .loginRecovery:hover,
.register .loginForm .loginRecovery:hover,
.register .registerForm .loginRecovery:hover {
  color: #1c86a0;
  cursor: pointer;
}

.login .loginForm span,
.login .registerForm span,
.register .loginForm span,
.register .registerForm span {
  color: #1c86a0;
  cursor: pointer;
}

.login a,
.register a {
  text-decoration: none;
  color: #1c86a0;
}

.login h1,
.register h1 {
  margin-top: 0;
  text-align: center;
}

.login p,
.register p {
  margin: 5px;
}

.login input,
.register input {
  height: 35px;
  border: 0;
  padding: 5px 15px;
  margin: 5px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.login input::-webkit-input-placeholder,
.register input::-webkit-input-placeholder {
  color: #7d7d7d;
}

.login input:-ms-input-placeholder,
.register input:-ms-input-placeholder {
  color: #7d7d7d;
}

.login input::-ms-input-placeholder,
.register input::-ms-input-placeholder {
  color: #7d7d7d;
}

.login input::placeholder,
.register input::placeholder {
  color: #7d7d7d;
}

.login .submit,
.register .submit {
  width: 30%;
  height: auto;
  padding: 10px 0;
  margin: 25px auto;
  border: 0;
  background: #54c1de;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.login .submit:hover,
.register .submit:hover {
  background: #29b2d6;
}

.login .closeBtn,
.register .closeBtn {
  width: 32px;
  height: 32px;
  background: 0;
  border: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.canvasImageOptions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvasImageOptions button {
  width: 200px;
  margin: 25px auto 0 auto;
  border: 0;
  background: #54c1de;
  color: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
}

.canvasImageOptions .error {
  width: 60%;
  margin: 10px auto;
}

.canvasImageOptions .buttonsContainer {
  width: 80%;
  margin: 10px auto;
}

.canvasImageOptions .buttonsContainer button {
  width: 45%;
  font-size: 14px;
  margin: 10px 5px;
}

.canvasImageOptions .progressBar {
  width: 80%;
  margin: 15px auto;
  height: 5px;
}

.canvasImageOptions .progressBar .bar {
  height: 100%;
  background-color: #54c1de;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.hiddenInput {
  display: none;
}

.uploadScreen {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 999;
}

.uploadScreen .uploadForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: dropDown 0.5s;
          animation: dropDown 0.5s;
}

.uploadScreen .uploadForm .closeBtn {
  position: fixed;
  width: 42px;
  height: 42px;
  padding: 5px;
  border-radius: 5px;
  background: 0;
  right: 9.5%;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.uploadScreen .uploadForm .closeBtn .closeIcon {
  fill: white;
}

.uploadScreen .uploadForm .error {
  margin-top: 25px;
  width: 300px;
}

.uploadScreen .uploadForm h1 {
  margin-top: 25vh;
}

.uploadScreen .uploadForm input {
  width: 80%;
  height: 50px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  font-size: 24px;
}

.uploadScreen .uploadForm button {
  width: 200px;
}

.uploadScreen .uploadForm p {
  color: white;
}

.imageGrid {
  width: 90%;
  min-height: 60%;
  max-height: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 10px auto;
  overflow-y: scroll;
  position: relative;
}

.imageGrid .imgWrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
}

.imageGrid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.imageGrid img:hover {
  opacity: 1;
}

.imageGrid .loadingBig {
  position: absolute;
  padding: 0;
  left: 50%;
  margin-left: -81px;
  top: 50%;
  margin-top: -64px;
  z-index: 5;
}

.imageGrid .information,
.imageGrid .error {
  position: absolute;
  width: 80%;
  left: 5%;
}

.canvasResolution {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.canvasResolution .canvasResolutionContainer {
  width: 80%;
  height: 85vh;
  margin: auto;
  margin-top: 78px;
  overflow-y: scroll;
  background-color: #282828;
  border-radius: 5px;
}

.canvasResolution .canvasResolutionContainer::-webkit-scrollbar {
  width: 25px;
  height: 20px;
}

.canvasResolution .canvasResolutionContainer::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 15px;
  height: 5px;
  border: 10px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.canvasResolution .canvasResolutionContainer::-webkit-scrollbar-thumb:hover {
  background-color: #646464;
}

.canvasResolution .canvasResolutionContainer::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.canvasResolution .canvasResolutionContainer::-webkit-scrollbar-corner {
  background-color: transparent;
}

.canvasResolution .customResolution {
  position: relative;
  max-width: 600px;
  margin: 50px auto 75px auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.canvasResolution .customResolution input,
.canvasResolution .customResolution select {
  width: 100%;
  padding: 0;
  padding-bottom: 3px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.canvasResolution .customResolution input:focus,
.canvasResolution .customResolution select:focus {
  outline: none;
  border-bottom: 1px solid #54c1de;
}

.canvasResolution .customResolution .error,
.canvasResolution .customResolution .warning {
  margin: 0;
  position: absolute;
  bottom: -65px;
}

.canvasResolution .customResolution h1 {
  margin: 0 15px;
}

.canvasResolution .customResolution .resSplit {
  margin: 0;
  padding-top: 16px;
}

.canvasResolution .customResolution .warningInput {
  color: #ebfd87;
  border-bottom: 1px solid #ebfd87;
}

.canvasResolution .customResolution .warningInput:focus {
  border-bottom: 1px solid #ebfd87;
}

.canvasResolution .customResolution input {
  width: 50px;
  color: white;
  margin: 0 15px;
  text-align: center;
  height: 25px;
  margin-top: 6px;
  padding-bottom: 0;
}

.canvasResolution .customResolution button {
  width: 75px;
  height: 25px;
  margin-top: 7px;
  border-radius: 5px;
  border: 0;
  background: #54c1de;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.canvasResolution .customResolution button:hover {
  background: #29b2d6;
}

.canvasResolution .webResolutions {
  color: #c8ffad;
}

.canvasResolution .phoneResolutions {
  color: #eccbff;
}

.canvasResolution .socialResolutions {
  color: #ffd3af;
  padding-bottom: 50px;
}

.canvasResolution .resolutionTitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
}

.canvasResolution .resolutionCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.canvasResolution .resolutionCard {
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.canvasResolution .resolutionCard .resolutionBorder {
  background: #bfe8f3;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 5px;
}

.canvasResolution .resolutionCard p {
  margin: 0 auto;
}

.canvasResolution .resolutionCard:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.genLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
}

.genLink p {
  width: auto;
}

.genLink .genLinkURL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.genLink .genLinkContainer {
  position: relative;
  width: 25%;
  min-width: 300px;
  border-radius: 10px;
  background-color: white;
  padding: 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genLink .genLinkContainer h1 {
  margin-top: 0;
  margin-bottom: 35px;
}

.genLink .genLinkContainer .url {
  background-color: #eaf7fb;
  border: 0;
  padding: 10px 15px;
  border-radius: 5px;
  color: #1c86a0;
  font-weight: 600;
  max-width: 205px;
  margin: 10px auto;
  overflow-x: auto;
}

.genLink .genLinkContainer .url:focus {
  outline: none;
}

.genLink .genLinkContainer .url::-webkit-scrollbar {
  height: 5px;
}

.genLink .genLinkContainer .url::-webkit-scrollbar-thumb {
  background-color: #aae0ef;
  border-radius: 15px;
  height: 5px;
}

.genLink .genLinkContainer button {
  width: 115px;
  border: 0;
  background: #54c1de;
  color: white;
  padding: 10px 0;
  margin: 15px 15px 25px 15px;
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.genLink .genLinkContainer button:hover {
  background: #29b2d6;
}

.genLink .closeIcon {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.cardBrowser {
  min-height: 100vh;
  background-color: #b2e3f0;
}

.cardBrowser .cardBrowserCategories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  padding: 100px 10% 15px 10%;
  background: -webkit-gradient(linear, left bottom, left top, from(#b2e3f0), to(#eaf7fb));
  background: linear-gradient(360deg, #b2e3f0 0%, #eaf7fb 100%);
}

.cardBrowser .cardBrowserCategories .categories {
  margin-right: auto;
  margin-bottom: 10px;
}

.cardBrowser .cardBrowserCategories .categories button {
  background: 0;
  border: 0;
  margin: 0;
  margin-right: 15px;
  color: #969696;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cardBrowser .cardBrowserCategories .categories button:hover {
  border-bottom: 1px solid #1c86a0;
}

.cardBrowser .cardBrowserCategories .categories button:focus {
  outline: 0;
  border-bottom: 1px solid #1c86a0;
}

.cardBrowser .cardBrowserCategories .categories .cardBrowserActiveBtn {
  color: #2d2d2d;
  border-bottom: 1px solid #1c86a0;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.cardBrowser .cardBrowserCategories .sorters {
  background: 0;
  border: 0;
  color: #2d2d2d;
  position: relative;
  width: 125px;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 125px;
  margin-top: 2px;
  border: 0;
  background: 0;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorter .currentSorterIcon {
  width: 16px;
  height: 16px;
  padding: 0;
  fill: #2d2d2d;
  margin-right: 17px;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorter:focus {
  outline: none;
  background-color: #fafafa;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorterButtons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 24px;
  width: 125px;
  right: 0;
  background-color: white;
  overflow: hidden;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorterButtons button {
  background: 0;
  border: 0;
  padding: 15px;
  color: #2d2d2d;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cardBrowser .cardBrowserCategories .sorters .currentSorterButtons button:hover {
  background-color: #94d8ea;
}

.cardContainer {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  background-color: #b2e3f0;
}

@media only screen and (max-width: 350px) {
  .cardContainer {
    width: 95%;
  }
}

.cardContainer .cardContainerCol {
  padding-right: 15px;
}

.cardContainer .cardContainerCol div {
  margin-bottom: 15px;
}

.cardContainer a {
  text-decoration: none;
}

.cardContainer .cardBrowserCard {
  color: #2d2d2d;
  background-color: rgba(0, 0, 0, 0.05);
}

.cardContainer .cardBrowserCard .thumbnail {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
  background-color: #b2e3f0;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions h1 {
  font-size: 13px;
  margin: 0 10px 0 0;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions button {
  width: 16px;
  height: 16px;
  padding: 0;
  background: 0;
  border: 0;
  margin-right: 5px;
  margin-left: 10px;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions button .btnIcon {
  fill: #2d2d2d;
  padding: 0;
  height: 16px;
  width: 16px;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions p {
  margin: auto 0 0 0;
  font-weight: 600;
  font-size: 10px;
}

.cardContainer .cardBrowserCard .cardBrowserCardActions .cardRes {
  margin-right: auto;
}

.notFound {
  width: 100%;
  height: 100vh;
}

.notFound .topBar {
  width: 100%;
  height: 70px;
  background-color: #94d8ea;
}

.notFound .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notFound .leftBar {
  width: 50px;
  background-color: #bfe8f3;
  min-height: calc(100vh - 70px);
}

.notFound .leftBar .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notFound .leftBar .btns .btn {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #aae0ef;
  margin: 10px auto;
}

.notFound .midSection {
  width: calc(75% - 50px);
  min-height: calc(100vh - 70px);
  background-color: #d4f0f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 500px) {
  .notFound .midSection {
    width: calc(100% - 50px);
  }
}

.notFound .midSection .canvas {
  width: calc(100% - 50px);
  min-height: calc(100% - 50px);
  background-color: #bfe8f3;
  font-size: clamp(16px, 5vw, 42px);
  color: #2d2d2d;
}

.notFound .midSection .canvas .face {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 50px auto 0 auto;
}

@media only screen and (max-width: 350px) {
  .notFound .midSection .canvas .face {
    width: 125px;
    height: 125px;
  }
}

.notFound .midSection .canvas .face .leftEye {
  position: absolute;
  top: 0;
  left: 25px;
  width: 48px;
  height: 48px;
  border: 4px solid #54c1de;
  border-radius: 50%;
}

@media only screen and (max-width: 350px) {
  .notFound .midSection .canvas .face .leftEye {
    border: 3px solid #54c1de;
    width: 24px;
    height: 24px;
  }
}

.notFound .midSection .canvas .face .rightEye {
  position: absolute;
  top: 0;
  right: 25px;
  width: 48px;
  height: 48px;
  border: 4px solid #54c1de;
  border-radius: 50%;
}

@media only screen and (max-width: 350px) {
  .notFound .midSection .canvas .face .rightEye {
    border: 3px solid #54c1de;
    width: 24px;
    height: 24px;
  }
}

.notFound .midSection .canvas .face .mouth {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border: 4px solid #54c1de;
  border-color: #54c1de transparent transparent transparent;
  border-radius: 50%/100px 100px 0 0;
}

@media only screen and (max-width: 350px) {
  .notFound .midSection .canvas .face .mouth {
    height: 50px;
    border: 3px solid #54c1de;
    border-color: #54c1de transparent transparent transparent;
    border-radius: 50%/50px 50px 0 0;
  }
}

@media only screen and (max-width: 500px) {
  .notFound .midSection .canvas {
    width: calc(100% - 25px);
    height: calc(100% - 25px);
  }
}

.notFound .midSection .canvas h1 {
  margin: 25px 0 15px 5%;
}

.notFound .midSection .canvas h2 {
  margin: 0 0 0 5%;
}

.notFound .rightBar {
  width: 25%;
  min-height: calc(100vh - 70px);
  background-color: #bfe8f3;
}

@media only screen and (max-width: 500px) {
  .notFound .rightBar {
    display: none;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

button {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */