@import "fonts";
@import "mixins";
@import "colors";
@import "animations";
@import "input";
@import "errors";
@import "loading";
@import "navbar";
@import "mainPage";
@import "about";
@import "choice";
@import "cards";
@import "steps";
@import "ideas";
@import "editor";
@import "creator";
@import "canvasElements";
@import "canvasPreview";
@import "login";
@import "canvasOptions";
@import "imageGrid";
@import "canvasResolution";
@import "genLink";
@import "browseCards";
@import "notFound";

html,
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

button {
  font-family: $mainFont;
  font-weight: 600;
  cursor: pointer;
}
